body {
  padding: 0;
  margin: 0;
  font-family: Arial, Verdana, sans-serif;
  background-color: #ececec;
  background-image: url('background-image.png');
  background-repeat: repeat-x;
  background-position: top center;
}

/* Headings */

h1,
h2 {
  text-transform: uppercase;
  color: #39af99;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

/* Paragraph */

p {
  color: #444;
}

/* Links */

a {
  color: #1279be;
  font-weight: bold;
  text-decoration: none;
}

.relative-link {
  float: right;
  border-bottom: 1px solid #c5c5c5;
}

.relative-link:hover {
  color: #303030;
  border-bottom-color: #303030;
}

.absolute-link {
  color: #fff;
}

.absolute-link:hover {
  text-decoration: underline;
}

/* List */

ul {
  color: #fff;
  line-height: 30px;
}

/* Photo */

.block-photo {
  display: block;
  margin: 0 auto;
}

/* Layout */

#page {
 overflow: auto;
 width: 960px;
 margin: 20px auto;
 padding: 10px;
 background-color: #fff;
}

header {
  margin-bottom: 10px;
  border-bottom: 1px dashed #39af99;
}

main {
  width: 620px;
  float: left;
  margin-right: 10px;
}

aside {
  width: 330px;
  float: right;
  background-color: #39af99;
}

span {
  color: #39af99;
  text-decoration: underline;
}

/* Table */

table {
 color: #fff;
}

th {
  text-align: left;
}

th,
td {
  padding: 5px;
  border: 1px solid #fff;
}

/* Form */

form {
  font-size: 16px;
}

label {
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
}

input,
textarea {
  padding: 5px;
  width: 600px;
  border: 1px solid #ccc;
  font-size: 14px;
}

textarea {
  height: 100px;
}

button {
  display: block;
  padding: 10px;
  background-color: #39af99;
  color: #fff;
  border: none;
  font-size: 14px;
  margin: 10px auto 5px;
}
