body {
  font-family: Arial, Verdana, sans-serif;
  background-color: #ececec;
  background-image: url('background-image.png');
  background-repeat: repeat-x;
  background-position: top center;
}

/* Headings */

h1,
h2 {
  text-transform: uppercase;
  color: #39af99;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

/* Paragraph */

p {
  color; #444;
}

/* Links */

a {
  color: #1279be;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #303030;
}

/* List */

